<div class="example-container card animated fadeIn">

    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Escriba el Usuario ">
            <!--<mat-hint>Errors appear instantly!</mat-hint>-->

        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="**************">
            <!--<mat-hint>Errors appear instantly!</mat-hint>-->

        </mat-form-field>
        <br>
        <br>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar cuenta
        </label>
        <div id="div-boton-login">
            <button id="boton-login" type="submit" mat-flat-button color="primary" class="btn btn-outline-primary ">Ingresar</button>
        </div>
        <br>
        <label>
            <a class=""[routerLink] = "['../register']">Registrarse</a>
        </label>
        <br>
        <label>
          ¿Olvidaste tu contraseña? <a href="#">Clik Aqui</a>
        </label>
    </div>
</div>