<mat-grid-list class="consultar_contenedor" cols="1" rowHeight="500px" class="example-container card animated fadeIn">
    <mat-grid-tile>
        <div>
            <h1>Retirar fondos de la cuenta</h1>
            <br>
            <h3>Saldo actual:</h3>
            <h3>$ {{this.auth.user.money}}.00</h3>
            <br>
            <h3>Cuanto desea retirar:</h3>
            <form class="example-form" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Ejemplo: $ 1.000,00 </mat-label>
                    <input [formControl]="valorControl" matInput #message maxlength="20" placeholder="0">
                    <mat-hint align="start"><strong>Solo valores numericos</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 20</mat-hint>

                </mat-form-field>
            </form>
            <br>
            <h3>Saldo disponible:</h3>
            <h3>$ {{parseInt(this.auth.user.money) - parseInt(this.valorControl.value)}}.00</h3>
            <div *ngIf="(parseInt(this.auth.user.money) - parseInt(this.valorControl.value))*(-1) > parseInt(this.auth.user.money)*0.1">
                <h3 style="color: red">El monto que intenta retirar excede el 110% del saldo disponible en su cuenta</h3>
            </div>
            <div *ngIf="(parseInt(this.auth.user.money) - parseInt(this.valorControl.value))*(-1) <= parseInt(this.auth.user.money)*0.1" id="div-boton-retirar">
                <button id="boton-retirar" type="button" mat-flat-button color="primary" class="btn btn-outline-primary" (click)="onSubmit()">Retirar</button>
            </div>

            <br>
            <div *ngIf='this.submitted'>
                <p style="color: green;">✓ Operacion exitosa</p>
            </div>

        </div>

    </mat-grid-tile>
</mat-grid-list>