  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <h2 > {{this.username}}</h2>
      <br><br><br>
      <!--p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</!--p-->
      <button class="botonsin" color="primary"  (click)="drawer.toggle()" [routerLink]="['consultar']" mat-raised-button>Consultar Saldo
      </button>
      <br>
      <button class="botonsin"  color="primary" [routerLink]="['ingresar']" (click)="drawer.toggle()" mat-raised-button>
        Ingresar Efectivo
      </button>
            <br>
            <button class="botonsin"  color="primary" (click)="drawer.toggle()" [routerLink]="['retirar']" mat-raised-button>
      Retirar Efectivo
    </button>
    <button class="botonsin"  color="primary" (click)="drawer.toggle()" [routerLink]="['movimientos']" mat-raised-button>
      Detalles de movimiento
    </button>
    <button class="botonsin"  color="primary" (click)="drawer.toggle()" [routerLink]="['transferencia']" mat-raised-button>
      Transferencia
    </button>
            <br><br><br><br><br><br>
            <button class="botonsin"  (click)="drawer.toggle()" [routerLink]="['modificar-datos']" mat-raised-button>
        <mat-icon aria-hidden="false"  color="primary" aria-label="Example home icon">build</mat-icon>
        </button>
        <br>
        <button class="botonsin" [routerLink]="['../login']" color="primary" (click)="logOut()" mat-raised-button>
          Cerrar Sesion
        </button>
        </mat-drawer>
        <div class="example-sidenav-content">
          <button class="boton_panel" type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward_ios</mat-icon>
          </button>
        </div>

  </mat-drawer-container>
