<div class="container ">
  <br>
  <div class="container text-center ">
    <h1>Detalles de movimiento</h1>
  </div>

  <mat-grid-list cols="1" rowHeight="200px">

    <mat-grid-tile>
      <ul class="list-group">
        <li class="list-group-item list-title">Fecha</li>
        <li class="list-group-item">22/01/2021</li>
        <li class="list-group-item">10/01/2021</li>
        <li class="list-group-item">08/10/2020</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-title" >Tipo de movimiento</li>
        <li class="list-group-item ">Transferencia</li>
        <li class="list-group-item">Debito automatico</li>
        <li class="list-group-item">Extraccion</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-title">Establecimiento/Cajero/Servicio</li>
        <li class="list-group-item">La segunda seguros</li>
        <li class="list-group-item">Personal</li>
          <li class="list-group-item">Cajero san Martin 124</li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-title">Monto</li>
          <li class="list-group-item ">$800</li>
          <li class="list-group-item ">$700</li>
          <li class="list-group-item ">$1225</li>

        </ul>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
