<div class="example-container">

    <!-- Primer Fila -->
    <div class="row">

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input class="input2" matInput placeholder="Nombre">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input class="input2" matInput placeholder="Apellido">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>
    </div>

    <!-- Segunda Fila -->
    <div class="row">

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>D.N.I.</mat-label>
                <input class="input2" matInput placeholder="Escriba el Usuario ">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field appearance="fill">
                <mat-label>Domicilio</mat-label>
                <input class="input2" matInput placeholder="Escriba el Usuario ">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>
    </div>

    <!-- Tercera Fila -->
    <div class="row">

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input class="input2" matInput placeholder="E-Mail" type="email">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field appearance="fill">
                <mat-label>Numero de telefono</mat-label>
                <input class="input2" matInput placeholder="Escriba el Usuario " type="tel">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>
    </div>

    <!-- cuarta Fila -->
    <div class="row">

        <div class="col">

            <mat-label>Foto del D.N.I.</mat-label>
            <br>
            <input type="file" id="img" name="img" accept="image/*">
            <!--<mat-hint>Errors appear instantly!</mat-hint>-->

        </div>

        <div class="col">

            <mat-label>Fecha de nacimiento</mat-label>
            <br>
            <input type="date" id="birthday" name="birthday">
            <!--<mat-hint>Errors appear instantly!</mat-hint>-->

        </div>
    </div>

    <br>
    <br>

    <!-- Quinta Fila -->
    <div class="row">

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input class="input2" matInput placeholder="Escriba el Usuario ">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->

            </mat-form-field>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input class="input2" matInput type="password" placeholder="**************">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Repetir Contraseña</mat-label>
                <input class="input2" matInput type="password" placeholder="**************">
                <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            </mat-form-field>
        </div>
    </div>
    <br>
    <br>


    <!-- Sexta Linea -->

    <div id="sexta">
        <label>
        <input type="checkbox" checked="checked" name="Enviar copia de Registro a la casilla de correos"> Enviar copia de Registro
    </label>
        <br>
        <label>
                <input type="checkbox" checked="checked" name="Acepto los terminos y condiciones"> Acepto los terminos y condiciones
    </label>
        <br>
        <br>

        <div id="div-boton-login">
            <button id="boton-login" type="submit" mat-flat-button class="btn btn-outline-primary ">Limpiar valores</button>
        </div>
        <br>
        <div id="div-boton-login">
            <button id="boton-login" type="submit" mat-flat-button color="primary" class="btn btn-outline-primary ">Registrarme</button>
        </div>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>